.user-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-form {
    display: flex;
    flex-direction: column;
  }
  
  .user-form .form-group {
    margin-bottom: 16px;
  }
  
  .user-form label {
    font-weight: bold;
  }
  
  .user-form input {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .user-form .error-message {
    color: #ff0000;
    margin-top: 4px;
  }
  
  .user-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 16px;
  }
  
  .user-form button:hover {
    background-color: #45a049;
  }
  