.cart-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .cart-modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    position: relative;
  }
  
  .cart-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #555;
    cursor: pointer;
  }
  
  .cart-modal h2 {
    font-size: 20px;
    margin-bottom: 16px;
    color: #333;
  }
  
  .cart-modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-modal li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .cart-modal li:last-child {
    border-bottom: none;
  }
  
  